@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Selamat Datang</h1>
    <p><a href="https://localhost:5001/Home/Privacy">klik untuk melanjutkan</a>.</p>
</div>
