@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h3 class="display-4">Selamat Datang</h3>
    <h1>Di PERPUSTAKAAN MULYO ABADI</h1>

    <p><a href="https://localhost:5001/Home/Perpustakaan">klik untuk melanjutkan</a>.</p>
</div>
