@{
    ViewData["Title"] = "Perpustakaan";
}
<style>
    .image{
        background-image: "https://i.pinimg.com/originals/9c/ee/ce/9ceecebbbef332f889650bca474fd8e7.png" ;

    }
</style>
<body class="image">
    
<div class="text-center">
    <h3 class="display-4">Selamat Datang</h3>
    <h1>Di PERPUSTAKAAN MULYO ABADI</h1>
    
    <p><a href="https://localhost:5001/Home/Perpustakaan">klik untuk melanjutkan</a>.</p>
</div>
<img src="https://i.pinimg.com/originals/9c/ee/ce/9ceecebbbef332f889650bca474fd8e7.png" alt="gambar">
</body>

